# =========================
# Maven (aplica a demo/)
# =========================
target/

# =========================
# Java
# =========================
*.class
*.jar
*.war
*.ear
hs_err_pid*
replay_pid*

# =========================
# Logs
# =========================
*.log

# =========================
# VSCode
# =========================
.vscode/

# =========================
# Linux / temporales
# =========================
*~
*.swp
*.swo
.cache/
.Trash-*

